<!DOCTYPE html>
<html>
<head>
  <title>Sc2rank</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<section id="content">
  <%= yield %>
</section>

</body>
</html>
